[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
torchvision = "*"
torchaudio = "*"
jupyter = "*"
imageio = "*"
h5py = "*"
matplotlib = "*"
simpleitk = "*"
diskcache = "*"
cassandra-driver = "*"
ipyvolume = "*"
scipy = "*"
pandas = "*"

[dev-packages]

[requires]
python_version = "3.7"
